<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.mapper.JtMapper">
    <!--插入-->
    <insert id="insert">
        insert into `users` values (null,#{userName},null,#{adminId})
    </insert>

    <!--插入图片，并保存上传时间-->
    <update id="update" parameterType="user">
        update users set imageName = #{imageName},dateTime = NOW() where userName = #{userName}
    </update>
    <!--清空所有用户的图片地址-->
    <update id="close">
        update users set imageName = null ;
    </update>

    <!--查询当前管理员班级下被录入的所有人-->
    <select id="selectAll" resultType="user" parameterType="integer">
        select * from users where AdminId = #{adminId}
    </select>

    <select id="selectUserName" resultType="java.lang.Integer" parameterType="map">
        select count(*) as number from users where userName = #{userName}  AND AdminId = #{adminId}
    </select>
    <!--查询当前登录的管理员录入的所有人的数据-->
    <select id="selectUser" resultType="user" parameterType="integer">
        SELECT u.id,u.userName,a.ClassName,u.imageName,u.dateTime
        FROM `users` u
        join admin a on u.adminId = a.id
        where u.AdminId=#{AdminId}

    </select>
    <!--获取总人数 完成人数 未完成人数-->
    <select id="countUser" resultType="map" parameterType="integer">
        select * from (
        (SELECT count(*) as num FROM `users` where AdminId = #{adminId} )  t1  join
        (SELECT count(*) as num2 FROM `users` where AdminId = #{adminId} and not ISNULL(imageName))  t2 join
        (SELECT count(*) as num3 FROM `users` where AdminId = #{adminId}  and  ISNULL(imageName))  t3  )

    </select>

    <!--查询当前班级中未完成的-->
    <select id="selectNotUserName" resultType="java.lang.String" parameterType="integer">
        SELECT u.id,u.userName,a.ClassName,u.imageName,u.dateTime
            FROM `users` u
            join admin a on u.adminId = a.id
            where u.AdminId=#{AdminId} AND isnull(imageName)
    </select>
    <!--查询WebHook地址-->
    <select id="selectWebHookURL" resultType="java.lang.String" parameterType="integer">
        select webhook from admin where id = #{adminId}
    </select>
</mapper>